<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center; margin-bottom: 25px">
      {{{userName}}}, do you want to reset your password?
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">Please contact support if it wasn't you!</p>
      <p style="margin: 15px 0 0;">For continue click on button</p>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <a href={{{url}}}>
        <button>RESET</button>
      </a>
    </td>
  </tr>
</table>
