<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      {{{userName}}}, welcome on our platform!
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      {{#if condition}}
        <p>wqertyutrewqertyu</p>
      {{/if}}
      {{#each array}}
        <p>{{this.number}}</p>
      {{/each}}
      <p style="margin: 17px 0 0;">
        You need submit your email, please click on button
      </p>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <button>SUBMIT</button>
    </td>
  </tr>
</table>
