<table style="width: 100%; padding: 10px 35px; background-color: #db9292; box-sizing: border-box">
  <tr>
    <td style="font-size: 14px; text-align: center;">
      MyCorp - Copyright © 2022
    </td>
  </tr>
  <tr>
    <td style="font-size: 10px; text-align: center;">
      <a href={{{frontendURL}}}>click here</a>
    </td>
  </tr>
</table>
