<table style="width: 100%; padding: 4px 35px; background-color: #db9292; box-sizing: border-box">
  <tr>
    <td style="font-size: 20px; text-align: left;">
      <b>LOGO</b>
    </td>
    <td style="text-align: right;">
      <img style="width: 55px; height: 55px; margin: 0"
           src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
           alt="icon">
    </td>
  </tr>
</table>
