doctype html
html
    head
        style
            include style.css
    body
        div
            | HELLO CHAT
            br
            | Верста буде, але колись
            p This is P
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) MAR course Node.js
